@{
    ViewData["Title"] = "Home Page";
    string[]? days = ViewData["days"] as string[];
}

<div>
    <h1 class="display-4">Welcome to COMP4870</h1>
    <p>Name : Dongwan (Jake) Kang</p>
    <p>Student Number : A01265331</p>
    <ul>
    @foreach (var item in days!)
    {
        <li>@item</li>
    }
    </ul>
</div>
